VITE_DEV_SERVER=http://localhost:8000
VITE_PROD_SERVER=https://stage-thatzfit.attentionplease.build
VITE_CDN_HOST=https://cdn.thatz.fit
VITE_CAPTURE_ENGINE=html2canvas
VITE_CAPTURE_FALLBACK_DISPLAY_MEDIA=false
VITE_MIXPANEL_PROJECT_TOKEN=fecdaa3150744c2a60d0f442be77aca6
