@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  src: url('https://cdn.thatzfits.com/default/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}


@layer base {
  body {
    font-family: 'Pretendard Variable', sans-serif;
  }
}

@layer utilities {
  .text-heading1 {
    @apply font-bold text-[1.0625rem] leading-normal tracking-[-0.003em] ;
  }

  .text-heading1-semibold {
    @apply font-semibold text-[1.0625rem] leading-normal tracking-[-0.003em];
  }

  .text-heading2 {
    @apply font-semibold text-[0.9375rem] leading-normal tracking-[-0.003em];
  }

  .text-heading3 {
    @apply font-semibold text-[0.8125rem] leading-normal tracking-[-0.003em];
  }

  .text-heading3-regular {
    @apply font-normal text-[0.8125rem] leading-normal tracking-[-0.003em];
  }

  .text-body1 {
    @apply font-semibold text-xs leading-normal tracking-[-0.003em];
  }

  .text-body1-medium {
    @apply font-medium text-xs leading-normal tracking-[-0.003em];
  }

  .text-body1-regular {
    @apply font-normal text-xs leading-normal tracking-[-0.003em];
  }

  .text-body2 {
    @apply font-semibold text-[0.6875rem] leading-normal tracking-[-0.003em];
  }

  .text-body2-medium {
    @apply font-medium text-[0.6875rem] leading-normal tracking-[-0.003em];
  }

  .text-body3 {
    @apply font-semibold text-[0.625rem] leading-normal tracking-[-0.003em];
  }

  .text-body3-medium {
    @apply font-medium text-[0.625rem] leading-normal tracking-[-0.003em];
  }

  .text-body3-regular {
    @apply font-normal text-[0.625rem] leading-[1.6] tracking-[-0.003em];
  }

  .text-detail1 {
    @apply font-semibold text-[0.5625rem] leading-normal tracking-[-0.003em];
  }

  .text-detail1-medium {
    @apply font-medium text-[0.5625rem] leading-normal tracking-[-0.003em];
  }

}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red : #ff5247;

  --color-blue-back: #eef3f8;
  --color-light-blue : #ccdaeb;
  --color-clouded-blue: #abc2dd;
  --color-dark-blue: #7d9ec5;

  --color-sand : #f5f3ee;
  --color-light-sand: #ebe6dd;
  --color-warm-sand: #ccc1ab;
  --color-dark-sand: #ab9d7f;

  --color-grey-01: #181a1b;
  --color-grey-02: #303337;
  --color-grey-03: #484d52;
  --color-grey-04: #9399a1;
  --color-grey-05: #aeb3b8;
  --color-grey-06: #c9ccd0;
  --color-grey-07: #e4e6e7;
  --color-grey-08: #f1f2f3;
  --color-grey-09: #f9f9f9;
  
}

